@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #ededed;
  background-color: #081b29;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}


.navbar a {
  position: relative;
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbarHover {
  position: absolute;
  top: 0;
  right: 30px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 3s;
}
.navbarHover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.8s;
  z-index: 100;
}

.navbar a:hover,
.navbar a.active {
  color: yellowgreen;
}
.contact {
  margin-top: 100px;
}

.contact h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 38px;
  margin-bottom: 10px;
  color: yellowgreen;
}

.contact h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.contact form {
  position: relative;
  width: 430px;
  text-align: center;
}

.input-box1 {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.input-box1 :hover {
  background-color: #081b29;
  opacity: 0.8;
}

.input-box1 ::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.4s;
  z-index: 100;
}
.input-box2 {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.input-box2 :hover {
  background-color: #081b29;
  opacity: 0.8;
}

.input-box2 ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.7s;
  z-index: 100;
}



.input-box1 .input-field {
  width: 48%;
}
.input-box2 .input-field {
  width: 48%;
}

.input-box1 .item {
  position: relative;
  width: 200px;
  height: 40px;
  padding: 9px;
  background: transparent;
  border: 2px solid yellowgreen;
  outline: none;
  border-radius: 6px;
  font-size: 12px;
  color: #ededed;
  margin: 12px 0;
}
.input-box2 .item {
  position: relative;
  width: 200px;
  height: 40px;
  padding: 9px;
  background: transparent;
  border: 2px solid yellowgreen;
  outline: none;
  border-radius: 6px;
  font-size: 12px;
  color: #ededed;
  margin: 12px 0;
}


.field .item::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.textarea{
  position: relative;
}
.textarea:hover {
  background-color: #081b29;
  opacity: 0.8;
}

.textarea::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.3s;
  z-index: 100;
}
.textarea .message {
  resize: none;
  width: 424px;
  height: 200px;
  padding: 9px;
  background: transparent;
  border: 2px solid yellowgreen;
  outline: none;
  border-radius: 6px;
  font-size: 12px;
  color: #ededed;
  margin: 12px 0;
}

form .btn-box {
  position: relative;
  /* padding: 10px 30px; */

  /* width: 345px;
  height: 50px; */
}

form .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.9s;
  z-index: 2;
}

.btn-box button {
  padding: 10px 30px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: yellowgreen;
  border: 2px solid yellowgreen;
  border-radius: 6px;
  font-size: 12px;
  color: #081b29;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 5px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box button:hover {
  color: yellowgreen;
}


button{
  position: relative;
}
button:hover {
  background-color: #081b29;

}

/* button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.9s;
  z-index: 100;
}  */
button:hover::before {
  width: 100%;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}
